.content
  .row{style: "padding-bottom: 10px;"}
    %h2.text-danger Wrong email or password
    
    .text-info.lead
      You have entered the wrong email or password. Please try again
      
  .row
    %a.btn.btn-default{href: request.referrer} Go back
      